[submodule ".\\vue3-ui\\naive-ui"]
	path = .\\vue3-ui\\naive-ui
	url = https://github.com/xluoyu/naive-ui.git
[submodule ".\\vue3-ui\\element-plus\\"]
	path = .\\vue3-ui\\element-plus\\
	url = https://github.com/xluoyu/element-plus.git
